/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
        scroll-behavior: smooth;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 99;
  }